<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"

          integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet"
                  th:href="@{../css/layouts/blog-old-ie.css}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet"
                  th:href="@{../css/layouts/blog.css}">

        <!--<![endif]-->


</head>
<body>



<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 ">
        <div class="nav-item">
            <a class="pure-button" th:href="@{/publish/list}">Home</a>
            <a class="pure-button" th:href="@{/user/logout}">Logout</a>
        </div>
        <div class="header">
            <h1 class="brand-title" style="padding-bottom: 20px;font-size: 4em;"  >Todo List</h1>


            <form class="pure-form " th:action="@{/publish/select_word}" th:object="${SearchTask}">
            <input type="search" class="pure-input-rounded pure-input-1-3" placeholder="Enter a keyword, max length is 31" th:field="*{title}" maxLength="31">
            <button type="submit" class="button-search pure-button" >
                Search</button>
                <div class="pure-form"  >
                <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                    <input id="option-one" type="radio" name="optionsRadios" value="TODO" th:field="*{status}" checked>
                    Only TODO
                </label>
                <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                    <input id="option-two" type="radio" name="optionsRadios" value="DONE" th:field="*{status}">
                    Only DONE
                </label>
                <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                    <input id="option-three" type="radio" name="optionsRadios" value="BOTH" th:field="*{status}">
                    Both
                </label>
                </div>
        </form>


        </div>
    </div>


        <div class="content pure-u-1 ">
        <div>

            <div class="posts">
                <h1 class="content-subhead">Create a Task</h1>

                <!-- Create a task  -->
                <section class="post">
                    <form class="pure-form pure-form-stacked" method="POST" th:action="@{/publish/add}" th:object="${task}" >
                        <fieldset>

                            <label for="title"><h4>Task title</h4></label>
                            <input id="title" class="pure-input-2-3" type="text" placeholder="Enter a task title, max length is 31" required
                                   th:field="*{title}" maxLength="31"/>

                            <label for="date"><h4>Deadline</h4></label>
                            <input id="date" class="pure-input-1-3" type="date" placeholder = "If you use Safari, please enter format like yyyy-mm-dd" required
                                   th:field="*{taskDate}"/>

                            <button type="submit" class="pure-button pure-button-primary" >Submit</button>
                            <strong style="color:#df2d4f;" th:text="${result}">alert</strong>
                        </fieldset>
                    </form>

                </section>
            </div>
            <!-- A wrapper for all tasks -->
            <div class="posts" >
                <h1 class="content-subhead">Recent Tasks</h1>

                <section class="post" th:each="task : ${list}">


                    <header class="post-header" th:switch="${task.status}">

                        <img th:onclick="|todo2done(this,${task.id})|"
                                    th:case="TODO" width="48" height="48" alt="finish" class="post-avatar"  id = "non_finish" th:value = "${task.id}" th:src="@{../img/common/non_finish.png}" >

                        <img th:onclick="|done2todo(this,${task.id})|"
                                th:case="DONE" width="48" height="48" alt="finish" class="post-avatar" id = "finish" th:value = "${task.id}" th:src="@{../img/common/finish.png}" >

                        <a th:href="@{/publish/edit(id=${task.id})}" ><img  width="48" height="48" alt="edit" class="post-avatar" th:src="@{../img/common/edit.png}"></a>

                        <h2 class="post-title" th:text="${task.title}">Everything You Need to Know About Grunt</h2>

                        <h3 class="post-date"  >
                            Created Date: <a th:text="${task.createDate}">date1</a>
                        </h3>
                        <h3 class="post-date" >
                            Deadline: <a style="color:#df2d4f;" th:text="${task.taskDate}">date2</a>
                        </h3>

                    </header>
                </section>



            </div>


        </div>
    </div>
</div>


<script th:src="@{../js/jquery/jquery-3.2.1.min.js}" ></script>

<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/

    function todo2done(obj,id) {

        var targetUrl = "/publish/change_status";

        $.ajax({
            type: 'POST',
            url: targetUrl,
            data: "id=" + id,

            success: function (data) {

                if(data==="success"){
                    // $(this).attr("src","../img/common/finish.png");
                    $(obj).attr("src","../img/common/finish.png");
                }
                else if(data==="xx"){
                    alert("happen");
                }
                else{
                    alert("error happen");
                }

            },
            error: function (xhr, type) {
                alert("Failed");
            }
        })
    }

    function done2todo(obj,id) {

        var targetUrl = "/publish/change_status";

        $.ajax({
            type: 'POST',
            url: targetUrl,
            data: "id=" + id,

            success: function (data) {

                if(data==="success"){
                    $(obj).attr("src","../img/common/non_finish.png");

                }
                else if(data==="xx"){
                    alert("happen");
                }
                else{
                    alert("error happen");
                }

            },
            error: function (xhr, type) {
                alert("Failed");
            }
        })
    }



    /*]]>*/
</script>

</body>
</html>