<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <title>Edit Page</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"

          integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet"
                  th:href="@{../css/layouts/blog-old-ie.css}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet"
                  th:href="@{../css/layouts/blog.css}">

        <!--<![endif]-->


</head>
<body>



<div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 ">
        <div class="nav-item">
            <a class="pure-button" th:href="@{/publish/list}">Home</a>
            <a class="pure-button" th:href="@{/user/logout}">Logout</a>
        </div>
        <div class="header">
            <h1 class="brand-title" style="padding-bottom: 20px;font-size: 4em;"  >Todo List</h1>

            <form class="pure-form" th:action="@{/publish/select_word}" th:object="${SearchTask}">
                <input type="search" class="pure-input-rounded pure-input-1-3" placeholder="Enter a keyword, max length is 31" th:field="*{title}" maxLength="31">
                <button type="submit" class="button-search pure-button" >
                    Search</button>
                <div class="pure-form"  >
                    <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                        <input id="option-one" type="radio" name="optionsRadios" value="TODO" th:field="*{status}" checked>
                        Only TODO
                    </label>
                    <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                        <input id="option-two" type="radio" name="optionsRadios" value="DONE" th:field="*{status}">
                        Only DONE
                    </label>
                    <label  class="pure-radio" style="width: 150px;height: 20px; display: inline-block;">
                        <input id="option-three" type="radio" name="optionsRadios" value="BOTH" th:field="*{status}">
                        Both
                    </label>
                </div>
            </form>



        </div>
    </div>


        <div class="content pure-u-1 ">
        <div>
            <!-- A wrapper for all tasks -->
            <div class="posts">
                <h1 class="content-subhead">Edit a Task</h1>

                <section class="post">
                    <form class="pure-form pure-form-stacked" method="POST" th:action="@{/publish/submit}" th:object="${task}" >
                        <fieldset>

                            <label for="title"><h4>Task title</h4></label>
                            <input id="title" class="pure-input-2-3" type="text"  required
                                   th:field="*{title}" maxLength="31"/>

                            <label for="date"><h4>Set new Deadline</h4></label>
                            <input id="date" class="pure-input-1-3" type="date" required
                                   th:field="*{taskDate}"/>

                            <input id="id" class="pure-input-1-3" type="hidden"
                                   th:field="*{id}"/>

                            <button type="submit" class="pure-button pure-button-primary" >Update</button>
                        </fieldset>
                    </form>

                </section>
            </div>



        </div>
    </div>
</div>


</body>
</html>